appdirs
asgiref
attrs
beautifulsoup4
bleach
blinker
bcrypt
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
defusedxml
Django
et-xmlfile
fastjsonschema
Flask
Flask-Login
Flask-Mail
Flask-SQLAlchemy
greenlet
httplib2
idna
imbalanced-learn
imblearn
importlib-metadata
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
MarkupSafe
mistune
msal
nbclient
nbconvert
nbformat
numpy
oauthlib
openpyxl
packaging
pandas
pandocfilters
platformdirs
playwright
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pyee
Pygments
PyJWT
PyMySQL
pyparsing
pyppeteer
python-dateutil
pytz
pyzmq
referencing
requests
requests-oauthlib
rpds-py
rsa
scikit-learn
scipy
six
soupsieve
SQLAlchemy
sqlparse
threadpoolctl
tinycss2
tornado
tqdm
traitlets
typing_extensions
tzdata
uritemplate
urllib3
webencodings
websockets
Werkzeug
zipp
djangorestframework
django-cors-headers
psycopg2-binary
Pillow